.alert {
    background-color: red;
    color: white;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
}


section {
    width: 20%;
    min-width: 350px;
    margin: 1em auto;
    padding: 1em;
    border: 5px solid #ebebeb;
    border-radius: 5px;
    /* background-color: rgba(0, 140, 255, 0.575); */
}

form > .form-group {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.form-group > input {
    height: 1.5em;
    background-color: #ebebeb;
}

.form-group > input:focus {
    background-color: white;
}

