html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif KR', serif;
    text-decoration: none;
}

body {
    background: url('images/banner.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    font-stretch: extra-expanded;
}

#cards > *, #articles > *, #socialMedia > * {
    color: #343b42;
}

#cards, #articles, footer {
    background-color: rgba(255, 255, 255, 0.7);
}

.section {
    width: 100%;
    padding: 2em 0;
}

.sectionContent {
    margin: 2em auto;
    width: 80%;
    min-width: 360px;
}

.sectionBody {
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}

button {
    position: relative;
    height: 2em;
    padding: 0 1em;
    border: none;
    background-color: #4169E1;
    color: white;
    cursor: pointer;
    line-height: 1em;
    transition: all 0.25s;
}


/* "More" buttons styling on hover */
button:hover {
    padding-right: 40px;
    border-radius: 0 50% 50% 0;
    transition: all 0.25s;
}

button:after {
    position: absolute;
    left: -25%;
    width: 50%;
    opacity: 0;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: " \f101";
    color: #ff9100;
    transition: all 0.5s;
}

button:hover::after {
    left: 50%;
    opacity: 1.0;
}

/* go up button styling */
#goUp {
    display: none;
    position: fixed;
    left: 1em;
    top: 90%;
    transition: all 0.25s;
}

#goUp i {
    font-size: 2em;
    color: #ff9100;
}

#goUp:hover i {
    color: white;
    transition: all 0.25s;
}



/* Header and nav styling */
header {
    color: white;
    font-weight: lighter;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.navList {
    list-style: none;
    align-self: flex-end;
}

.navList > li {
    display: inline;
    margin: 0 1em;
}

.navList > li > a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5em;
    text-align: center;
}


/* Animating the main navigation links */
.borderSlide {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: -50%;
    top: 0;
    border-bottom: 3px solid #4169E1;
    transition: all 0.25s;
}

li > a:hover .borderSlide {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.25s;
}


/* styling the jumbotron */
.pageTitle {
    margin: 3em 0 4em 0;
    text-align: center;
}

.pageTitle > span {
    font-size: 4em;
}


/* #card section styling */
.card {
    padding: 0 2em;
}

.card > p {
    padding: 2em 0;
}

#middleCard {
    border-left: 1px solid #708090;
    border-right: 1px solid #708090;
}


/* #people section styling */
#people {
    background-color: #4169e1;
    color: white;
}

#people > * {
    display: block;
    text-align: center;
}

.peopleCard {
    border: 1px solid white;
    color: white;
    width: 160px;
    padding: 2em;
    margin: 0 5px;
    transition: all 0.25s;
}

.peopleCard:hover {
    background-color: white;
    color: #4169E1;
    /* matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
    transform: scale(1.1);
    border: 1px solid #ff9100;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    background-color: #d9e2ff;
    transition: all 0.25s;
}

.peopleCard:hover img {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    transition: all 0.25s;
}

.peopleCard > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.25s;
}


/* articles section styling */
#articles > .sectionContent > h2, small {
    display: block;
    text-align: center;
}

#articles .sectionContent {
    justify-content: space-between;
}

#articles article {
    width: 48%;
    padding: 0 2em;
}

#articles h3, button {
    margin: 1em 0;
}

#articles article img {
    width: 100%;
}


/* footer styling */
footer {
    padding: 0;
}

footer .sectionContent {
    margin: 0 auto;
    border-top: 1px solid #708090;
}

footer .sectionBody {
    margin: 0;
    padding: 2em 0;
}

#icons > a {
    margin-right: 1em;
    color: #708090;
}

#icons > a:last-child {
    margin: 0;
}

#icons > a:hover i {
    color: #4169E1;
}




@media only screen and (max-width: 790px) {
    .sectionContent {
        width: 100%;
    }

    footer .sectionBody {
        padding: 2em 2em;
    }

    #goUp {
        left: 0;
    }
}

@media only screen and (max-width: 660px) {
    .navList > li {
        margin: 0;
    }
    
    #people .sectionBody {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .peopleCard {
        margin-top: 1em;
    }

    #cards .sectionBody, #articles .sectionBody {
        flex-direction: column;
    }

    #middleCard {
        border: none;
        border-top: 1px solid #708090;
        border-bottom: 1px solid #708090;
        margin: 2em 0;
        padding: 2em 2em;
    }

    #articles article {
        width: 100%;
        margin-bottom: 2em;
    }

    #socialMedia {
        padding: 0;
    }
}