html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



ul {
    list-style: none;
}

#loading {
    display: none;
    width: 100%;
}
#loading > * {
    display: block;
    width: 30%;
    margin: 3em auto;
}

#app {
    width: 800px;
    margin: 1em auto;
}

#app > form {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

#app > form > input {
    margin: 0 0.5em;
}

.error {
    display: block;
    background-color: rgb(253, 66, 66);
    color: white;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
}

#booksDetails {
    display: flex;
    flex-direction: column;
}

#booksDetails > * {
    display: flex;
    margin: 1em 0;
    padding: 0.2em;
    border: solid 1px black;
    background-color: #aad3ff;
    box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
}

#booksDetails > div > img {
    margin-right: 1em;
}

#booksDetails > div > div > *:last-child {
    margin-top: 1em;
}