main {
    // testing the main element; delete when it has content
    height: 1000px;
    background-color: white;
    // testing the main element; delete when it has content

    width: 80%;
    margin: 2em auto;
}