// styling for header elements
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $primaryFont;
    padding: 0.5em;
    background-color: aliceblue;
}


//styling the page brand
#brand {
    font-family: $secondaryFont;
    font-weight: 700;
    text-decoration: none;
    color: $fontColor;
    display: flex;
    align-items: center;
}

#brand:hover #brandOne, #brand #brandTwo {
    color: $accentColor;
    transition: $mainTransition;
}

#brand:hover #brandTwo {
    color: $fontColor;
    transition: $mainTransition;
}


// styling the authentication buttons
.authButtons {
    @include roundBtn();
}


// styling the search form
.searchForm {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0.3em 0;
    width: 200px;
    border: 1px solid #ffffff;
    background-color: white;
    border-radius: 5px;
    transition: $mainTransition;

    & * {
        transition: $slowTransition;
    }

    & button {
        position: absolute;
        left: 13px;
        padding: 0.3em;
        border: 0.1em solid transparent;
        width: 55px;
        background-color: transparent;
        box-sizing: border-box;
        text-decoration:none;
        color: $mutedColor;
        text-align: center;
        cursor: pointer;
        z-index: 0;
    }

    & i {
        position: absolute;
        color: $mutedColor;
    }
    
    & #searchInput {
        padding-left: 0.1em;
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        z-index: 1;
    }
}


.searchForm:focus-within {
    border: 0.1em solid $accentColor;
    border-radius: 5px;
    margin: 0 0.5em;

    & button {
        background-color: $accentColor;
        color: #ffffff;
        border-color: $accentColor;
        border-radius: 5px;
        left: calc(200px + 0.3em);
    }

    & i {
        position: absolute;
        left: calc(-15px - 0.5em);
        color: $accentColor;
    }
}


