html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
}

section {
    display: flex;
    flex-direction: column;
    border: 1px solid maroon;
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em;
    width: 250px;
}

section > * {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}

section form > * {
    margin: 0.5em;
}

section span {
    display: block;
}


.alert {
    display: block;
    background-color: red;
    border-radius: 5px;
    padding: 0.25em;
}


