body {
    height: 100vh;
    background-color: rgb(103, 204, 250)
}

section {
    width: 40%;
    margin: 1em auto;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

form > .form-group:first-child {
    width: 250px;
    margin: 1em auto;
}



#commentWrap {
    display: none;
    flex-direction: column;
    margin-top: 1em;
}

#commentWrap > * {
    margin: 0.5em 0;
}

textarea {
    height: 5em;
}

#successMsg {
    display: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
}

#alert {
    display: none;
    padding: 0.3em;
    background-color: rgb(220, 20, 60);
    color: white;
}

#btn {
    width: 200px;
    margin: 0 auto;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 2px;
}

#btn:disabled {
    background-color: darkgrey;
    color: grey;
}

#commentOutput {
    background-color: white;
    border-radius: 5px;
    padding: 1em;
}


