html {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, nav, section, footer {
    border-style: solid;
    border-width: 3px;
}

body {
    border-color: #00ffff;
    height: 100%;
}

nav {
    position: relative;
    display: inline-block;
    width: 200px;
    border-color: #fc869a;
    padding: 30px;
}

main {
    display: inline;
    position: absolute;
    left: 203px;
    right: 3px;
}

main > section:nth-child(2) {
    background-color: #dad6d6;
}

section {
    padding: 10px;
    border-color: #ffc400;
}

footer {
    display: block;
    position: absolute;
    bottom: 3px;
    width: calc(100% - 6px);
    height: 150px;
    text-align: center;
    border-color: #1b921b;
}



